/******************** Font imports ********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/******************** BODY ********************/
.handwriting {
    font-family: 'Indie Flower', cursive;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    position: relative;
}

/******************** Nav bar ********************/
.navbar-light {
    border-color: transparent;
    padding-top: 3%;
    height: 80px;
    color: #4f4e4e;
}

.navbar-light .navbar-nav .nav-link {
    color: #4f4e4e;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    color: #4f4e4e !important;
}

.active {
    color: black !important;
    font-weight: bold !important;
}

.nav-item {
    font-size: 20px;
    padding: 0px 10px;
}

.navbar-brand:hover {
    color: black !important;
    background-color: inherit;
}

.nav-item>a:hover {
    color: black;
    background-color: inherit;
    font-weight: bold;
}

.btn {
    font-size: 20px;
}

.btn:hover{
    background-color: #c8c8c8;
}

/******************** Home page (index) ********************/


.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.greeting {
    position: relative;
    height: 100%;

    text-align: center;
    justify-content: center;
}

#big-greeting {
    font-size: 64px;
}

#detail-greeting {
    font-size: 24px;
}

#finisher-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.finisher-header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.slide {
    position: relative;
    height: 70%;
}

.centered {
    position: absolute;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.slide:after {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid black;
    display: block;
}
